.erf-main-div {
    width: auto;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

.erf-header {
    display: flex;
    background: white;
    margin-top: 20px;
    justify-content: space-between;
}

.erf-title-design {
    width: 16px;
    height: 32px;
    background: #0B7974;
    border-radius: 10px;
    margin-left: 30px;
}

.erf-title {
    font-size: 23px;
    font-weight: 500;
    color: black;
    padding-left: 30px;
    padding-bottom: 30px;
}

.erf-add-btn {
    width: 122px;
    height: 40px;
    background: #FF5833;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
}

.erf-field {
    margin-left: 50px;
    margin-top: 20px;
}

.erf-usage-div {
    width: 194px;
    height: 30px;
    border-radius: 10px;
    background: rgba(255, 88, 51, 1);
    border: none;
    color: white;
    margin-top: 30px;
    margin-left: 650px;
    padding-left: 20px;
    padding-top: 15px;
}

.erf-rule-div {
    width: 194px;
    height: 30px;
    border-radius: 10px;
    background: rgba(255, 88, 51, 1);
    border: none;
    color: white;
    margin-top: 30px;
    margin-left: 650px;
    padding-left: 20px;
    padding-top: 15px;
}

.erf-back-btn {
    width: 240px;
    height: 52px;
    border: 1px solid #0B7974;
    color: #0B7974;
    background: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 1100px;
    margin-bottom: 20px
}

.erf-save-btn {
    width: 240px;
    height: 52px;
    border: none;
    color: white;
    background: #0B7974;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}